.range-box{
    display: flex;
    border-radius: 6px;
    background: #fff;
    border: 1px solid var(--bs-primary);
    color: var(--bs-primary);
    align-items: center;
    padding: 2px 0px 0px 10px;
}
.output-value{
    display: flex; 
    padding: 10px 10px;font-size: 14px;
    font-weight: bold;
}